page-home {

    h3{
        text-align: center;
        color:red;
        font: bold
    }
    img{
        height: 30vh;
        width: auto;
        margin: auto;
        display: block;
      }
    form{
        font: bold;
        color: red
    }
}
